<section class="container">
  <div class="row">
    <header>
      <h1>{{ title }}</h1>
    </header>
  </div>
  <div class="row">
    <ng-content></ng-content>
  </div>
  <div class="row">
    <div class="col-1">
      <button class="btn btn-primary" id="previous-button" (click)="goToPreviousStep()">
        <i class="material-icons align-middle">arrow_back</i>
        <span>Poprzedni krok</span>
      </button>
    </div>
    <div class="col-10"></div>
    <div class="col-1">
      <button class="btn btn-primary" id="next-button" (click)="goToNextStep()">
        <span>Następny krok</span>
        <i class="material-icons align-middle">arrow_forward</i>
      </button>
    </div>
  </div>
</section>
