<h2>Teams</h2>

<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Tier</th>
    </tr>
    <tr *ngFor="let team of teams">
      <td>
        {{team.id}}
      </td>
      <td>
        {{team.name}}
      </td>
      <td>
        {{team.tier + 1}}
      </td>
    </tr>
  </table>
</div>

<br/>
<h2>Teams by tier</h2>

<div *ngFor="let teamByTier of teamsByTier; let i = index">
  <h3>Tier {{i + 1}}</h3>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Tier</th>
    </tr>
    <tr *ngFor="let team of teamByTier">
      <td>
        {{team.id}}
      </td>
      <td>
        {{team.name}}
      </td>
      <td>
        {{team.tier + 1}}
      </td>
    </tr>
  </table>
</div>
