<div class="container">
  <hr />
  <div class="row">
    <h1>Mistrzostwa Świata w Piłce Koszykowej</h1>
  </div>
  <hr />
  <div class="row">
    <p>
      Projekt dotyczący utworzenia aplikacji, która umożliwia użytkownikowi przeprowadzenie symulacji przebiegu
      mistrzostw świata w piłce koszykowej w ramach federacji FIBA (fr. Fédération Internationale de Basketball).
    </p>
    <p>Mistrzostwa składają się z eliminacji, pierwszej fazy grupowej, drugiej fazy grupowej i fazy finałowej.
      Najlepsze drużyny z poprzedniej fazy przechodzą do następnej.
    </p>
    <p>
      Piłka koszykowa jest szybką, dynamiczną grą kontaktową, w której do zdobycia punktów lub wymian piłki dochodzi często.
      Każdy z meczy trwa zazwyczaj 40 minut, a podczas niego może dojść do zdobycia punktów przez zawodnika jednej z drużyn
      lub do utraty piłki, oraz do popełnienia faulu.
    </p>
    <p>
      W celu skorzystania z programu należy nacisnąć teraz przycisk Enter i następnie wybrać drużyny które będą rozgrywały
      między sobą meczce o mistrzostwo. 
    </p>
  </div>
</div>
