<h3>Add Team</h3>

<form>
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" placeholder="Enter name" [(ngModel)]="newTeam.name" name="name">
  </div>
  <div class="form-group">
    <label for="inputTier">Tier</label>
    <select class="form-control" id="inputTier" [(ngModel)]="newTeam.tier" name="tier">
      <option *ngFor="let tier of tiers" [ngValue]="tier">{{tier + 1}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" (click)="addTeam()">Submit</button>
</form>

<br/>
<h3>Available Teams</h3>

<div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Tier</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams">
      <th scope="row">
        {{team.id}}
      </th>
      <td>
        {{team.name}}
      </td>
      <td>
        {{team.tier + 1}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
