a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ededed;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  background-color: whitesmoke;
}

body div.loading {
  background: #34495e;
}

.loading {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 45%;
  top: 35%;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #e74c3c;
  animation: a1 2s linear infinite;
}

.loading::before, .loading::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.loading::before {
  border-top: 10px solid #e67e22;
  transform: rotate(120deg);
}

.loading::after {
  border-top: 10px solid #3498db;
  transform: rotate(240deg);
}

.loading span {
  position: absolute;
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

@keyframes a1 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 2px solid red;
}

img.team-flag {
  width: 20px;
}
