<header>
  <nav>
    <ul>
      <li>
        <a routerLink="select-teams/0" routerLinkActive="active">
          <div>
            <span class="dot">1</span>
            <span>Zone 1</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="select-teams/1" routerLinkActive="active">
          <div>
            <span class="dot">2</span>
            <span>Zone 2</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="select-teams/2" routerLinkActive="active">
          <div>
            <span class="dot">3</span>
            <span>Zone 3</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="select-teams/3" routerLinkActive="active">
          <div>
            <span class="dot">4</span>
            <span>Zone 4</span>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>
