<header>
  <nav>
    <ul>
      <li>
        <a routerLink="africa" routerLinkActive="active">
          <div>
            <span class="dot">1</span>
            <span>Africa</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="europe" routerLinkActive="active">
          <div>
            <span class="dot">2</span>
            <span>Europe</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="americas" routerLinkActive="active">
          <div>
            <span class="dot">3</span>
            <span>Americas</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="asia" routerLinkActive="active">
          <div>
            <span class="dot">4</span>
            <span>Asia & Oceania</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="pots" routerLinkActive="active">
          <div>
            <span class="dot">5</span>
            <span>The Draw: Pots</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="groups" routerLinkActive="active">
          <div>
            <span class="dot">6</span>
            <span>The Draw: Groups</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="first-round" routerLinkActive="active">
          <div>
            <span class="dot">7</span>
            <span>The First Round</span>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>
