<header>
  <nav>
    <ul>
      <li>
        <a routerLink="africa" routerLinkActive="active">
          <div>
            <span class="dot">1</span>
            <span>Afryka</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="europe" routerLinkActive="active">
          <div>
            <span class="dot">2</span>
            <span>Europa</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="americas" routerLinkActive="active">
          <div>
            <span class="dot">3</span>
            <span>Ameryki</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="asia" routerLinkActive="active">
          <div>
            <span class="dot">4</span>
            <span>Azja & Oceania</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="pots" routerLinkActive="active">
          <div>
            <span class="dot">5</span>
            <span>Losowanie: Koszyki</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="groups" routerLinkActive="active">
          <div>
            <span class="dot">6</span>
            <span>Losowanie: Grupy</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="first-round" routerLinkActive="active">
          <div>
            <span class="dot">7</span>
            <span>Pierwsza Faza Grupowa</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="second-round" routerLinkActive="active">
          <div>
            <span class="dot">8</span>
            <span>Druga Faza Grupowa</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="final-round" routerLinkActive="active">
          <div>
            <span class="dot">8</span>
            <span>Faza Pucharowa</span>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>
