header {
  background-color: #111;
  min-height: 10vh;
}

header nav {
  height: 100%;
}

header nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}

header nav ul li {
  display: flex;
  margin: 0.5rem;
  list-style-type: none;
  justify-content: center;
}

header nav ul li > * {
  color: #ccc;
  padding: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

header nav ul li a {
  text-decoration: none;
}

header nav ul li a:visited {
  color: #b3b3b3;
}

header nav ul li a.active, header nav ul li a:active, header nav ul li a:hover, header nav ul li a:focus {
  text-decoration: underline;
  color: white;
}

header nav ul li a:hover, header nav ul li a:focus {
  outline: 1px white solid;
}

@media all and (min-width: 768px) {
  header nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
}
